<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Spike</title>

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAHhzikxCQyRAS8ryQoB75mRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQiqBRnE1Iky5sZfKGxzYbUanZ0HA" type="text/javascript"></script>
    <script type="text/javascript">

        function init() {
            if (GBrowserIsCompatible()) {
                var map = new GMap2(document.getElementById("map"));
                map.setCenter(new GLatLng({{lat}},{{long}}), {{zoom}});
                map.addControl(new GMapTypeControl());
                map.addControl(new GLargeMapControl());
                map.addControl(new GScaleControl());
                map.addControl(new GOverviewMapControl());


                function info(location, description) {
                    var mark = new GMarker(location);
                    GEvent.addListener(mark, "click", function() {
                        mark.openInfoWindowHtml(description); 
                    });

                    return mark;
                }

            var location = new GLatLng(-33.442697,-70.620312);
            var description = '<div class="mensaje"><b>Texto ejemplo</b><br/>foo<br /></div>';
            var mark = info(location, description);

            map.addOverlay(mark);

            }
        }

    </script>

    </head>
    <body>
        <div id="map" style="width:600px; height:600px">
            <script type="text/javascript">init();</script>
        </div>
        <div>
            <br />
            lat: {{lat}}, long: {{long}}, zoom: {{zoom}}
            </br>
        </div>
    </body>
</html>

